<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="API_SupremTournamentsPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>suprem_tournaments.Solicitudes</class>
    <class>suprem_tournaments.TorneosIndividuales</class>
    <class>suprem_tournaments.SolicitudesContinuas</class>
    <class>suprem_tournaments.Gestor</class>
    <class>suprem_tournaments.CombatesIndividuales</class>
    <class>suprem_tournaments.exceptions.Solicitudes</class>
    <class>suprem_tournaments.exceptions.Gestor</class>
    <class>suprem_tournaments.exceptions.SolicitudesContinuas</class>
    <class>suprem_tournaments.exceptions.CombatesIndividuales</class>
    <class>suprem_tournaments.exceptions.TorneosIndividuales</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/supreme_tournaments?zeroDateTimeBehavior=CONVERT_TO_NULL&amp;autoReconnect=true&amp;useSSL=false&amp;serverTimezone=UTC"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.cj.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="1234"/>
      <property name="javax.persistence.schema-generation.database.action" value="create"/>
      <property name="eclipselink.logging.level" value="OFF"/>
    </properties>
  </persistence-unit>
</persistence>
